<div class="bg-primary">
  <form
    role="search"
    class="search-form container"
    [formGroup]="searchForm"
    (ngSubmit)="getWeather(searchForm.get('city')?.value)"
  >
    <label class="search-form__label">Search for city</label>
    <div class="search-form__input-group">
      <input class="search-form__input" type="text" formControlName="city" />
      <button class="btn btn--white btn--icon">
        <span class="sr-only">Search</span>
        <app-icon name="search"></app-icon>
      </button>
    </div>
  </form>
</div>

<div class="container">
  <div [ngSwitch]="weather.tag">
    <app-search-card *ngSwitchCase="'searching'"></app-search-card>

    <app-result-card
      *ngSwitchCase="'success'"
      [result]="$any(weather).result"
    ></app-result-card>

    <app-no-result-card
      *ngSwitchCase="'not found'"
      [city]="searchWord"
    ></app-no-result-card>

    <app-other-error-card *ngSwitchDefault></app-other-error-card>
  </div>
</div>
