.search-form {
  &__input-group {
    display: flex;
    background-color: var(--white);
  }

  &__label {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
  }

  &__input {
    width: 100%;
    font-size: 1rem;
    border-radius: 0;
    padding: 0;
  }
}

.suggested-cities {
  $self: &;

  &__list {
    list-style: none;
    padding-left: 0;

    #{ $self }__btn {
      background-color: transparent;
      padding: 0;
      margin-bottom: 0.5rem;
      border: none;
      color: var(--lynch);
      font-size: 1rem;

      &:hover {
        color: var(--red-damask);
      }
    }
  }
}

.search-card {
  text-align: center;
}
