.search-form {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;

  &__input-group {
    display: flex;
    background-color: var(--white);

    .btn {
      color: var(--outer-space);
    }
  }

  &__label {
    display: block;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: var(--white);
    font-weight: 700;
  }

  &__input {
    width: 100%;
    font-size: 1rem;
    border-radius: 0;
  }
}

.suggested-cities {
  $self: &;

  &__heading {
    font-size: 1.2rem;
  }

  &__list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;

    #{ $self }__btn {
      background-color: var(--red-damask);
      padding: 0.5rem 1rem;
      border-radius: 0.15rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
      border: none;
      color: var(--white);
      font-size: 1.2rem;

      &:hover {
        background-color: #e6934d;
      }
    }
  }
}

.search-card {
  text-align: center;
}
