/* You can add global styles to this file, and also import other style files */
:root {
  --body-bg: #d8d8d8;
  --white: #ffffff;
  --bay-leaf: #7fa998;
  --outer-space: #2c3b35;
  --lynch: #6c7698;
  --lynch2: #51708a;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  margin: 0;
}

h1,
h2,
h3,
label {
  font-family: "Quicksand", sans-serif;
  color: var(--outer-space);
}

input,
button {
  border: none;
  padding: 0.75rem;
}

.container {
  max-width: 750px;
  padding: 2.5rem;
  margin: auto;
}

.bg-primary {
  background-color: var(--bay-leaf);
}

.btn--white {
  background-color: var(--white);
}

.icon {
  width: 24px;
  height: 24px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
